**LTA Mobility Sensing Project Part 2**

- Read in csv files as dataframes

- Merge the 3 dataframes and perform initial cleaning phase such as removing duplicates and converting epoch to date and time

- We will be working on these 3 sensors data mainly: 

  1) Accelerometer

  2) Gyroscope

  3) Magnetometer

Import libraries

In [0]:
import pandas as pd
import numpy as np

Read in the 3 csv files for accelerometer, gyroscope and magnetometer

In [0]:
acc = pd.read_excel('accelerometer.xlsx', index_col = None)

gyro = pd.read_excel('gyroscope.xlsx', index_col = None)

mag = pd.read_excel('magnetometer.xlsx', index_col = None)

Display all output

In [0]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

Accelerometer - Check the datatype, shape and head

In [0]:
print(type(acc))
print(acc.shape)

<class 'pandas.core.frame.DataFrame'>
(196208, 8)

In [0]:
print(acc.head())

    JourneyID  Mode      Timestamp         X         Y          Z  lat  lng
0  _or9hxk29h  Idle  1574122668022 -0.101370  4.078714   9.324755  NaN  NaN
1  _or9hxk29h  Idle  1574122669031  0.168676  0.638103  10.021468  NaN  NaN
2  _or9hxk29h  Idle  1574122670034  3.005135  2.451950  13.441220  NaN  NaN
3  _or9hxk29h  Idle  1574122671036  4.065824  3.711961  12.759917  NaN  NaN
4  _or9hxk29h  Idle  1574122672110  4.574572  2.166216  16.789330  NaN  NaN

Gyroscope - Check the datatype, shape and head

In [0]:
print(type(gyro))
print(gyro.shape)

<class 'pandas.core.frame.DataFrame'>
(196306, 8)

In [0]:
print(gyro.head())

    JourneyID  Mode      Timestamp         X         Y         Z  lat  lng
0  _or9hxk29h  Idle  1574122668123 -0.074526  0.357723  0.560006  NaN  NaN
1  _or9hxk29h  Idle  1574122669131  0.502515 -0.534455  0.239546  NaN  NaN
2  _or9hxk29h  Idle  1574122670134  0.051103  0.033004  0.281068  NaN  NaN
3  _or9hxk29h  Idle  1574122671138  1.049746  0.489739  0.331106  NaN  NaN
4  _or9hxk29h  Idle  1574122672138  0.932634  0.290650 -0.171409  NaN  NaN

Magnetometer - Check the datatype, shape and head

In [0]:
print(type(mag))
print(mag.shape)

<class 'pandas.core.frame.DataFrame'>
(195913, 8)

In [0]:
print(mag.head())

    JourneyID  Mode      Timestamp        X        Y       Z  lat  lng
0  _or9hxk29h  Idle  1574122668038 -45.3125  18.3125  2.3125  NaN  NaN
1  _or9hxk29h  Idle  1574122669039 -31.1250  27.7500 -2.1250  NaN  NaN
2  _or9hxk29h  Idle  1574122670043 -18.2500  24.3125 -6.2500  NaN  NaN
3  _or9hxk29h  Idle  1574122671047 -15.1250  17.8750 -4.3125  NaN  NaN
4  _or9hxk29h  Idle  1574122672116  -6.9375  20.5625 -7.6875  NaN  NaN

Remove lat and lng columns for all 3 dataframes as we will work with location separately

In [0]:
acc.drop(['lat', 'lng'], axis = 1, inplace = True)
gyro.drop(['lat', 'lng'], axis = 1, inplace = True)
mag.drop(['lat', 'lng'], axis = 1, inplace = True)

Check that the columns have been removed

In [0]:
acc.head()
gyro.head()
mag.head()

    JourneyID  Mode      Timestamp         X         Y          Z
0  _or9hxk29h  Idle  1574122668022 -0.101370  4.078714   9.324755
1  _or9hxk29h  Idle  1574122669031  0.168676  0.638103  10.021468
2  _or9hxk29h  Idle  1574122670034  3.005135  2.451950  13.441220
3  _or9hxk29h  Idle  1574122671036  4.065824  3.711961  12.759917
4  _or9hxk29h  Idle  1574122672110  4.574572  2.166216  16.789330

    JourneyID  Mode      Timestamp         X         Y         Z
0  _or9hxk29h  Idle  1574122668123 -0.074526  0.357723  0.560006
1  _or9hxk29h  Idle  1574122669131  0.502515 -0.534455  0.239546
2  _or9hxk29h  Idle  1574122670134  0.051103  0.033004  0.281068
3  _or9hxk29h  Idle  1574122671138  1.049746  0.489739  0.331106
4  _or9hxk29h  Idle  1574122672138  0.932634  0.290650 -0.171409

    JourneyID  Mode      Timestamp        X        Y       Z
0  _or9hxk29h  Idle  1574122668038 -45.3125  18.3125  2.3125
1  _or9hxk29h  Idle  1574122669039 -31.1250  27.7500 -2.1250
2  _or9hxk29h  Idle  1574122670043 -18.2500  24.3125 -6.2500
3  _or9hxk29h  Idle  1574122671047 -15.1250  17.8750 -4.3125
4  _or9hxk29h  Idle  1574122672116  -6.9375  20.5625 -7.6875

Check for NAs

All 3 dataframes have 0 NAs for now

After processing the features later on in the project, Inf/NaN may appear.

In [0]:
acc.isna().sum()

JourneyID    0
Mode         0
Timestamp    0
X            0
Y            0
Z            0
dtype: int64

In [0]:
gyro.isna().sum()

JourneyID    0
Mode         0
Timestamp    0
X            0
Y            0
Z            0
dtype: int64

In [0]:
mag.isna().sum()

JourneyID    0
Mode         0
Timestamp    0
X            0
Y            0
Z            0
dtype: int64

Rename the X,Y,Z columns by appending the sensor name in front of the column

In [0]:
acc.rename(columns={"X": "acc_X", "Y": "acc_Y", "Z": "acc_Z"}, inplace = True)

In [0]:
acc.head()

    JourneyID  Mode      Timestamp     acc_X     acc_Y      acc_Z
0  _or9hxk29h  Idle  1574122668022 -0.101370  4.078714   9.324755
1  _or9hxk29h  Idle  1574122669031  0.168676  0.638103  10.021468
2  _or9hxk29h  Idle  1574122670034  3.005135  2.451950  13.441220
3  _or9hxk29h  Idle  1574122671036  4.065824  3.711961  12.759917
4  _or9hxk29h  Idle  1574122672110  4.574572  2.166216  16.789330

In [0]:
gyro.rename(columns={"X": "gyro_X", "Y": "gyro_Y", "Z": "gyro_Z"}, inplace = True)

In [0]:
gyro.head()

    JourneyID  Mode      Timestamp    gyro_X    gyro_Y    gyro_Z
0  _or9hxk29h  Idle  1574122668123 -0.074526  0.357723  0.560006
1  _or9hxk29h  Idle  1574122669131  0.502515 -0.534455  0.239546
2  _or9hxk29h  Idle  1574122670134  0.051103  0.033004  0.281068
3  _or9hxk29h  Idle  1574122671138  1.049746  0.489739  0.331106
4  _or9hxk29h  Idle  1574122672138  0.932634  0.290650 -0.171409

In [0]:
mag.rename(columns={"X": "mag_X", "Y": "mag_Y", "Z": "mag_Z"}, inplace = True)

In [0]:
mag.head()

    JourneyID  Mode      Timestamp    mag_X    mag_Y   mag_Z
0  _or9hxk29h  Idle  1574122668038 -45.3125  18.3125  2.3125
1  _or9hxk29h  Idle  1574122669039 -31.1250  27.7500 -2.1250
2  _or9hxk29h  Idle  1574122670043 -18.2500  24.3125 -6.2500
3  _or9hxk29h  Idle  1574122671047 -15.1250  17.8750 -4.3125
4  _or9hxk29h  Idle  1574122672116  -6.9375  20.5625 -7.6875

Convert timestamps

In [0]:
from datetime import datetime

In [0]:
acc['Timestamps'] = acc['Timestamp'].astype(float)/1000
acc['Time'] = acc['Timestamps'].apply(datetime.fromtimestamp)
acc['Time'] = acc['Time'].dt.strftime("%Y-%m-%d %H:%M:%S")
acc.drop(['Timestamps'], axis=1, inplace=True)

In [0]:
acc.head()

    JourneyID  Mode      Timestamp  ...     acc_Y      acc_Z                 Time
0  _or9hxk29h  Idle  1574122668022  ...  4.078714   9.324755  2019-11-19 00:17:48
1  _or9hxk29h  Idle  1574122669031  ...  0.638103  10.021468  2019-11-19 00:17:49
2  _or9hxk29h  Idle  1574122670034  ...  2.451950  13.441220  2019-11-19 00:17:50
3  _or9hxk29h  Idle  1574122671036  ...  3.711961  12.759917  2019-11-19 00:17:51
4  _or9hxk29h  Idle  1574122672110  ...  2.166216  16.789330  2019-11-19 00:17:52

[5 rows x 7 columns]

In [0]:
gyro['Timestamps'] = gyro['Timestamp'].astype(float)/1000
gyro['Time'] = gyro['Timestamps'].apply(datetime.fromtimestamp)
gyro['Time'] = gyro['Time'].dt.strftime("%Y-%m-%d %H:%M:%S")
gyro.drop(['Timestamps'], axis=1, inplace=True)

In [0]:
gyro.head()

    JourneyID  Mode      Timestamp  ...    gyro_Y    gyro_Z                 Time
0  _or9hxk29h  Idle  1574122668123  ...  0.357723  0.560006  2019-11-19 00:17:48
1  _or9hxk29h  Idle  1574122669131  ... -0.534455  0.239546  2019-11-19 00:17:49
2  _or9hxk29h  Idle  1574122670134  ...  0.033004  0.281068  2019-11-19 00:17:50
3  _or9hxk29h  Idle  1574122671138  ...  0.489739  0.331106  2019-11-19 00:17:51
4  _or9hxk29h  Idle  1574122672138  ...  0.290650 -0.171409  2019-11-19 00:17:52

[5 rows x 7 columns]

In [0]:
mag['Timestamps'] = mag['Timestamp'].astype(float)/1000
mag['Time'] = mag['Timestamps'].apply(datetime.fromtimestamp)
mag['Time'] = mag['Time'].dt.strftime("%Y-%m-%d %H:%M:%S")
mag.drop(['Timestamps'], axis=1, inplace=True)

In [0]:
mag.head()

    JourneyID  Mode      Timestamp  ...    mag_Y   mag_Z                 Time
0  _or9hxk29h  Idle  1574122668038  ...  18.3125  2.3125  2019-11-19 00:17:48
1  _or9hxk29h  Idle  1574122669039  ...  27.7500 -2.1250  2019-11-19 00:17:49
2  _or9hxk29h  Idle  1574122670043  ...  24.3125 -6.2500  2019-11-19 00:17:50
3  _or9hxk29h  Idle  1574122671047  ...  17.8750 -4.3125  2019-11-19 00:17:51
4  _or9hxk29h  Idle  1574122672116  ...  20.5625 -7.6875  2019-11-19 00:17:52

[5 rows x 7 columns]

Get data in ready format for segmentation

In [0]:
acc1 = acc.copy()
acc1 = acc1[['Time', 'JourneyID', 'Mode', 'acc_X', 'acc_Y', 'acc_Z']]
acc1.columns = ['waypoint_timeStart', 'JourneyID', 'Mode', 'acc_X', 'acc_Y', 'acc_Z']

acc1['date_Start'] = pd.to_datetime(acc1['waypoint_timeStart']).dt.date
acc1['waypoint_timeStart'] = pd.to_datetime(acc1['waypoint_timeStart']).dt.time
acc1.reset_index(drop=True, inplace=True)
acc1.head()

  waypoint_timeStart   JourneyID  Mode  ...     acc_Y      acc_Z  date_Start
0           00:17:48  _or9hxk29h  Idle  ...  4.078714   9.324755  2019-11-19
1           00:17:49  _or9hxk29h  Idle  ...  0.638103  10.021468  2019-11-19
2           00:17:50  _or9hxk29h  Idle  ...  2.451950  13.441220  2019-11-19
3           00:17:51  _or9hxk29h  Idle  ...  3.711961  12.759917  2019-11-19
4           00:17:52  _or9hxk29h  Idle  ...  2.166216  16.789330  2019-11-19

[5 rows x 7 columns]

In [0]:
acc1.shape

(196208, 7)

In [0]:
gyro1 = gyro.copy()
gyro1 = gyro1[['Time', 'JourneyID', 'Mode', 'gyro_X', 'gyro_Y', 'gyro_Z']]
gyro1.columns = ['waypoint_timeStart', 'JourneyID', 'Mode', 'gyro_X', 'gyro_Y', 'gyro_Z']

gyro1['date_Start'] = pd.to_datetime(gyro1['waypoint_timeStart']).dt.date
gyro1['waypoint_timeStart'] = pd.to_datetime(gyro1['waypoint_timeStart']).dt.time
gyro1.reset_index(drop=True, inplace=True)
gyro1.head()

  waypoint_timeStart   JourneyID  Mode  ...    gyro_Y    gyro_Z  date_Start
0           00:17:48  _or9hxk29h  Idle  ...  0.357723  0.560006  2019-11-19
1           00:17:49  _or9hxk29h  Idle  ... -0.534455  0.239546  2019-11-19
2           00:17:50  _or9hxk29h  Idle  ...  0.033004  0.281068  2019-11-19
3           00:17:51  _or9hxk29h  Idle  ...  0.489739  0.331106  2019-11-19
4           00:17:52  _or9hxk29h  Idle  ...  0.290650 -0.171409  2019-11-19

[5 rows x 7 columns]

In [0]:
gyro1.shape

(196306, 7)

In [0]:
mag1 = mag.copy()
mag1 = mag1[['Time', 'JourneyID', 'Mode', 'mag_X', 'mag_Y', 'mag_Z']]
mag1.columns = ['waypoint_timeStart', 'JourneyID', 'Mode', 'mag_X', 'mag_Y', 'mag_Z']

mag1['date_Start'] = pd.to_datetime(mag1['waypoint_timeStart']).dt.date
mag1['waypoint_timeStart'] = pd.to_datetime(mag1['waypoint_timeStart']).dt.time
mag1.reset_index(drop=True, inplace=True)
mag1.head()

  waypoint_timeStart   JourneyID  Mode    mag_X    mag_Y   mag_Z  date_Start
0           00:17:48  _or9hxk29h  Idle -45.3125  18.3125  2.3125  2019-11-19
1           00:17:49  _or9hxk29h  Idle -31.1250  27.7500 -2.1250  2019-11-19
2           00:17:50  _or9hxk29h  Idle -18.2500  24.3125 -6.2500  2019-11-19
3           00:17:51  _or9hxk29h  Idle -15.1250  17.8750 -4.3125  2019-11-19
4           00:17:52  _or9hxk29h  Idle  -6.9375  20.5625 -7.6875  2019-11-19

In [0]:
mag1.shape

(195913, 7)

Drop duplicates

In [0]:
acc1.drop_duplicates(['waypoint_timeStart', 'JourneyID'], inplace = True)

Check the shape and dataframe

In [0]:
acc1.shape

(74215, 7)

In [0]:
acc1

       waypoint_timeStart   JourneyID  Mode  ...     acc_Y      acc_Z  date_Start
0                00:17:48  _or9hxk29h  Idle  ...  4.078714   9.324755  2019-11-19
1                00:17:49  _or9hxk29h  Idle  ...  0.638103  10.021468  2019-11-19
2                00:17:50  _or9hxk29h  Idle  ...  2.451950  13.441220  2019-11-19
3                00:17:51  _or9hxk29h  Idle  ...  3.711961  12.759917  2019-11-19
4                00:17:52  _or9hxk29h  Idle  ...  2.166216  16.789330  2019-11-19
...                   ...         ...   ...  ...       ...        ...         ...
196203           07:54:03  _hfvz81iog   Car  ...  2.629514   7.966649  2019-11-25
196204           07:54:04  _hfvz81iog   Car  ...  2.347103   8.682439  2019-11-25
196205           07:54:05  _hfvz81iog   Car  ...  2.525931   8.265186  2019-11-25
196206           07:54:06  _hfvz81iog   Car  ...  1.840135   8.135546  2019-11-25
196207           07:54:07  _hfvz81iog   Car  ...  2.226301   7.571836  2019-11-25

[74215 rows x 7 columns]

In [0]:
gyro1.drop_duplicates(['waypoint_timeStart', 'JourneyID'], inplace = True)

In [0]:
gyro1.shape

(74181, 7)

In [0]:
gyro1

       waypoint_timeStart   JourneyID  Mode  ...    gyro_Y    gyro_Z  date_Start
0                00:17:48  _or9hxk29h  Idle  ...  0.357723  0.560006  2019-11-19
1                00:17:49  _or9hxk29h  Idle  ... -0.534455  0.239546  2019-11-19
2                00:17:50  _or9hxk29h  Idle  ...  0.033004  0.281068  2019-11-19
3                00:17:51  _or9hxk29h  Idle  ...  0.489739  0.331106  2019-11-19
4                00:17:52  _or9hxk29h  Idle  ...  0.290650 -0.171409  2019-11-19
...                   ...         ...   ...  ...       ...       ...         ...
196301           07:54:03  _hfvz81iog   Car  ... -0.061750  0.047909  2019-11-25
196302           07:54:04  _hfvz81iog   Car  ... -0.037263  0.001065  2019-11-25
196303           07:54:05  _hfvz81iog   Car  ...  0.007453  0.013840  2019-11-25
196304           07:54:06  _hfvz81iog   Car  ... -0.011711  0.006388  2019-11-25
196305           07:54:07  _hfvz81iog   Car  ... -0.046845 -0.039392  2019-11-25

[74181 rows x 7 columns]

In [0]:
mag1.drop_duplicates(['waypoint_timeStart', 'JourneyID'], inplace = True)

In [0]:
mag1.shape

(73538, 7)

In [0]:
mag1

       waypoint_timeStart   JourneyID  Mode  ...     mag_Y     mag_Z  date_Start
0                00:17:48  _or9hxk29h  Idle  ...   18.3125    2.3125  2019-11-19
1                00:17:49  _or9hxk29h  Idle  ...   27.7500   -2.1250  2019-11-19
2                00:17:50  _or9hxk29h  Idle  ...   24.3125   -6.2500  2019-11-19
3                00:17:51  _or9hxk29h  Idle  ...   17.8750   -4.3125  2019-11-19
4                00:17:52  _or9hxk29h  Idle  ...   20.5625   -7.6875  2019-11-19
...                   ...         ...   ...  ...       ...       ...         ...
195908           07:54:03  _hfvz81iog   Car  ... -443.3750  419.6875  2019-11-25
195909           07:54:04  _hfvz81iog   Car  ... -445.5000  418.3750  2019-11-25
195910           07:54:05  _hfvz81iog   Car  ... -442.1250  418.8750  2019-11-25
195911           07:54:06  _hfvz81iog   Car  ... -449.0000  420.0625  2019-11-25
195912           07:54:07  _hfvz81iog   Car  ... -452.3750  421.1250  2019-11-25

[73538 rows x 7 columns]

In [0]:
acc_gyro = pd.merge(acc1, 
                  gyro1[['waypoint_timeStart', 'JourneyID', 'gyro_X', 'gyro_Y', 'gyro_Z']],
                  how = 'inner',
                  on = ['waypoint_timeStart', 'JourneyID'])

In [0]:
acc_gyro

      waypoint_timeStart   JourneyID  Mode  ...    gyro_X    gyro_Y    gyro_Z
0               00:17:48  _or9hxk29h  Idle  ... -0.074526  0.357723  0.560006
1               00:17:49  _or9hxk29h  Idle  ...  0.502515 -0.534455  0.239546
2               00:17:50  _or9hxk29h  Idle  ...  0.051103  0.033004  0.281068
3               00:17:51  _or9hxk29h  Idle  ...  1.049746  0.489739  0.331106
4               00:17:52  _or9hxk29h  Idle  ...  0.932634  0.290650 -0.171409
...                  ...         ...   ...  ...       ...       ...       ...
70857           07:54:03  _hfvz81iog   Car  ...  0.044715 -0.061750  0.047909
70858           07:54:04  _hfvz81iog   Car  ... -0.002129 -0.037263  0.001065
70859           07:54:05  _hfvz81iog   Car  ...  0.027681  0.007453  0.013840
70860           07:54:06  _hfvz81iog   Car  ...  0.004259 -0.011711  0.006388
70861           07:54:07  _hfvz81iog   Car  ... -0.036198 -0.046845 -0.039392

[70862 rows x 10 columns]

In [0]:
acc_gyro_mag = pd.merge(acc_gyro, 
                  mag1[['waypoint_timeStart', 'JourneyID', 'mag_X', 'mag_Y', 'mag_Z']],
                  how = 'inner',
                  on = ['waypoint_timeStart', 'JourneyID'])

In [0]:
acc_gyro_mag

      waypoint_timeStart   JourneyID  Mode  ...     mag_X     mag_Y     mag_Z
0               00:17:48  _or9hxk29h  Idle  ...  -45.3125   18.3125    2.3125
1               00:17:49  _or9hxk29h  Idle  ...  -31.1250   27.7500   -2.1250
2               00:17:50  _or9hxk29h  Idle  ...  -18.2500   24.3125   -6.2500
3               00:17:51  _or9hxk29h  Idle  ...  -15.1250   17.8750   -4.3125
4               00:17:52  _or9hxk29h  Idle  ...   -6.9375   20.5625   -7.6875
...                  ...         ...   ...  ...       ...       ...       ...
67458           07:54:03  _hfvz81iog   Car  ... -422.3750 -443.3750  419.6875
67459           07:54:04  _hfvz81iog   Car  ... -423.7500 -445.5000  418.3750
67460           07:54:05  _hfvz81iog   Car  ... -424.4375 -442.1250  418.8750
67461           07:54:06  _hfvz81iog   Car  ... -425.1250 -449.0000  420.0625
67462           07:54:07  _hfvz81iog   Car  ... -427.7500 -452.3750  421.1250

[67463 rows x 13 columns]

Rearrange the columns

In [0]:
acc_gyro_mag = acc_gyro_mag[['waypoint_timeStart', 'date_Start', 'JourneyID', 'Mode', 
                             'acc_X', 'acc_Y', 'acc_Z',
                             'gyro_X', 'gyro_Y', 'gyro_Z',
                             'mag_X', 'mag_Y', 'mag_Z']]

In [0]:
acc_gyro_mag

      waypoint_timeStart  date_Start   JourneyID  ...     mag_X     mag_Y     mag_Z
0               00:17:48  2019-11-19  _or9hxk29h  ...  -45.3125   18.3125    2.3125
1               00:17:49  2019-11-19  _or9hxk29h  ...  -31.1250   27.7500   -2.1250
2               00:17:50  2019-11-19  _or9hxk29h  ...  -18.2500   24.3125   -6.2500
3               00:17:51  2019-11-19  _or9hxk29h  ...  -15.1250   17.8750   -4.3125
4               00:17:52  2019-11-19  _or9hxk29h  ...   -6.9375   20.5625   -7.6875
...                  ...         ...         ...  ...       ...       ...       ...
67458           07:54:03  2019-11-25  _hfvz81iog  ... -422.3750 -443.3750  419.6875
67459           07:54:04  2019-11-25  _hfvz81iog  ... -423.7500 -445.5000  418.3750
67460           07:54:05  2019-11-25  _hfvz81iog  ... -424.4375 -442.1250  418.8750
67461           07:54:06  2019-11-25  _hfvz81iog  ... -425.1250 -449.0000  420.0625
67462           07:54:07  2019-11-25  _hfvz81iog  ... -427.7500 -452.3750  421.1250

[67463 rows x 13 columns]

Save the merged dataframe with accelerometer, gyroscope, magnometer X, Y, Z orientation

In [0]:
acc_gyro_mag.to_excel("acc_gyro_mag.xlsx")