**LTA Mobility Sensing Project Part 1**

- Retrieve data from S3 bucket

- Save to csv file

In [0]:
import boto3

_BUCKET_NAME = ''
_PREFIX = ''

client = boto3.client('s3', aws_access_key_id='',aws_secret_access_key='')

def ListFiles(client):
    """List files in specific S3 URL"""
    response = client.list_objects(Bucket=_BUCKET_NAME, Prefix=_PREFIX)
    for content in response.get('Contents', []):
        yield content.get('Key')

file_list = ListFiles(client)
for file in file_list:
    print ('File found: %s' % file)

Accessing s3 bucket data

In [0]:
s3 = boto3.resource('s3', aws_access_key_id='',aws_secret_access_key='')
import json
import pandas as pd
import boto3
bucket = s3.Bucket('')
import io
prefix_objs = bucket.objects.filter(Prefix="")

Read in accelerometer sensor data

Check the shape

Save as csv

In [0]:
df_accel = pd.DataFrame(columns=['Altitude', 'JourneyID', 'lat', 'lng', 'Mode', 'Timestamp'])
for obj in prefix_objs:
    key = obj.key
    obje = client.get_object(Bucket='', Key=key)
    data = obje['Body'].read().decode()
    json_content = json.loads(data)
    try:
        json_contents = json_content['accelerometer']
        dff = pd.DataFrame(json_contents)
    except KeyError:
         pass
    df_accel = df_accel.append(dff)

In [0]:
df_accel.shape

(196208, 9)

In [0]:
df_accel.head()

  Altitude   JourneyID  Mode  ...                   Z  lat  lng
0      NaN  _or9hxk29h  Idle  ...    9.32475471496582  NaN  NaN
1      NaN  _or9hxk29h  Idle  ...  10.021468162536621  NaN  NaN
2      NaN  _or9hxk29h  Idle  ...    13.4412202835083  NaN  NaN
3      NaN  _or9hxk29h  Idle  ...  12.759917259216309  NaN  NaN
4      NaN  _or9hxk29h  Idle  ...  16.789329528808594  NaN  NaN

[5 rows x 9 columns]

In [0]:
df_accel.to_csv('accelerometer.csv', index = False)

Read in gyroscope sensor data

Check the shape

Save as csv

In [0]:
df_gyro = pd.DataFrame(columns=['Altitude', 'JourneyID', 'lat', 'lng', 'Mode', 'Timestamp'])
for obj in prefix_objs:
    key = obj.key
    obje = client.get_object(Bucket='', Key=key)
    data = obje['Body'].read().decode()
    json_content = json.loads(data)
    try:
        json_contents = json_content['gyroscope']
        dff = pd.DataFrame(json_contents)
    except KeyError:
         pass
    df_gyro = df_gyro.append(dff)

In [0]:
df_gyro.shape

(196306, 9)

In [0]:
df_gyro.head()

  Altitude   JourneyID  Mode  ...                    Z  lat  lng
0      NaN  _or9hxk29h  Idle  ...    0.560006320476532  NaN  NaN
1      NaN  _or9hxk29h  Idle  ...  0.23954643309116364  NaN  NaN
2      NaN  _or9hxk29h  Idle  ...    0.281067818403244  NaN  NaN
3      NaN  _or9hxk29h  Idle  ...  0.33110642433166504  NaN  NaN
4      NaN  _or9hxk29h  Idle  ...  -0.1714087873697281  NaN  NaN

[5 rows x 9 columns]

In [0]:
df_gyro.to_csv('gyroscope.csv', index = False)

Read in magnetometer sensor data

Check the shape

Save as csv

In [0]:
df_magneto = pd.DataFrame(columns=['Altitude', 'JourneyID', 'lat', 'lng', 'Mode', 'Timestamp'])
for obj in prefix_objs:
    key = obj.key
    obje = client.get_object(Bucket='', Key=key)
    data = obje['Body'].read().decode()
    json_content = json.loads(data)
    try:
        json_contents = json_content['magnetometer']
        dff = pd.DataFrame(json_contents)
    except KeyError:
         pass
    df_magneto = df_magneto.append(dff)

In [0]:
df_magneto.shape

(195913, 9)

In [0]:
df_magneto.head()

  Altitude   JourneyID  Mode      Timestamp  ...        Y        Z  lat  lng
0      NaN  _or9hxk29h  Idle  1574122668038  ...  18.3125   2.3125  NaN  NaN
1      NaN  _or9hxk29h  Idle  1574122669039  ...    27.75   -2.125  NaN  NaN
2      NaN  _or9hxk29h  Idle  1574122670043  ...  24.3125    -6.25  NaN  NaN
3      NaN  _or9hxk29h  Idle  1574122671047  ...   17.875  -4.3125  NaN  NaN
4      NaN  _or9hxk29h  Idle  1574122672116  ...  20.5625  -7.6875  NaN  NaN

[5 rows x 9 columns]

In [0]:
df_magneto.to_csv('magnetometer.csv', index = False)